.wrapper {
  position: relative;
}

.header-center {
 margin-top: 15vh;
}

.dimensions-flex {
  display: flex;
}

.dimensions-hide {
  display: none;
}

.dimensions-show {
  display: block;
}

.bigimage {
  padding-left: 20vw;
  padding-right: 20vw;
  min-height: 200px;
}
